{
  "name": "{{app}}",
  "version": "0.0.1",
  "wavelet": {
    "fx-config": "*",
    "fx-logger": "*",
    "fx-eventbus": "*",
    "fx-express": "*",
    "fx-ejs": "*",
    "fx-file": "*",
    "fx-middleware": "*",
    "fx-mongodb": "*",
    "fx-basic-auth": "*",
    "fx-red": "*",
    "fx-red-ejs": "*",
    "fx-red-eventbus": "*",
    "fx-red-file": "*",
    "fx-red-mongodb": "*"
  }
}
